$maxWidth: 1440;
$maxWidthContainer: 1440;

$bg: #181818;
$whiteF: #ffffff;
$orange: #ffaa4c;
$orange-2d: #ff6c2d;
$black: #000000;
$button-color: #954ced;
$focus-white-button: #ba8bf3;
$description-tag: #a64ced;
$border-color: #cfcfcf;
$grayB9: #b9b9b9;
$cookie-text: #383838;
$cookie-bg: #d9d9d9;
$border-input: #f1f1f1;
$border-input-focus: #a7a7a7;
$form-text: #070707;
$form-error: #ec1211;
$text-super: #444;
